body{
    background-color: white;
    font-family: Montserrat, Helvetica, sans-serif;
    font-size: 23px;
    margin: auto;
    padding: auto;
    text-align: center;
}
h2{
    margin: 0;
}
header{
    background-color: #2a9d8f ;
    display: grid;
    grid-template-columns: 170px auto; 
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: 100px;
}

#hero-box {
    grid-column: 1/4;
    z-index: 1;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}


.msg{
    background-color: #6f7364;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}
.msg p{
    color: black;
    font-size: 1em;
    line-height: 1.53em;
    padding-bottom: 15px;
}


    
