
body{
    background-color: #dda15e;
    font-family: Helvetica, sans-serif;
    font-size: 23px;
    margin: auto;
    padding: 0;
    text-align: center;
}
header{
    background-color: #fefae0 ;
    display: grid;
    grid-template-columns: 170px auto; 
}
.book, .join{
    background-color: #e9c46a;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover{
    color: black;
}


main section img{
    box-sizing: border-box;
}
.msg h2{
    color: black;

}
.msg{
    background-color: #457b9d;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 2/7;
    box-shadow: 10px 5px 10px #6f7364;
    
}
.msg p{
    color: black;
    font-size: .5em;
    line-height: 2em;
    padding-bottom: 20px;
    margin: 15px;
}


main section{
    text-align: center;
}

footer p{
    font-size: 1.2em;
}



