
body{
    background-color: white;
    font-family: Montserrat, Helvetica, sans-serif;
    font-size: 23px;
    margin: auto;
    padding: auto;
    text-align: center;
}
h2{
    margin: 0;
}
header{
    background-color: #2a9d8f ;
    display: grid;
    grid-template-columns: 170px auto; 
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: 100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

#content{ 
    max-width: 1600px;
    margin: 0 auto;
}
nav a{
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 35px;
    display: flex;
    justify-content: space-around;
 
}
.msg h2{
    color: black;
    font: 'Montserrat';
}
.msg{
    background-color: #6f7364;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}
.msg p{
    color: black;
    font-size: .8em;
    line-height: 1.53em;
    padding-bottom: 15px;
}

main section{
    text-align: center;
}
#background{
    height: 725px;
    grid-column: 1/11;
    grid-row: 4/9;
}
footer{
    color: black;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

    